<h1>Welcome</h1>

<li><%= link_to "Sign out", sign_out_path %></li>

<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="p3_style.css">
	<title>SNAP SNAP Here comes the gas!</title>
</head>
<body>

	<header class="cd-main-header">
    <h1>GAS IS ALMOST THERE!
    </h1>
	</header>

	<ul class="cd-pricing">
		<li>
			<header class="cd-pricing-header">
        <div id="box">
          <div id="picture">
          <img src=file:///Users/mac/Desktop/wyncode/GASnap/87.jpg />
        </div>


				<div class="cd-price">
					<span><h2>$5.00 per gallon</h2></span>
				</div>
			</header>

        <div class="dropdown">
    <button class="dropbtn">Gallons</button>
    <div class="dropdown-content">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
  </div>

  	<%= link_to "SELECT", payment_path %>

    <li>
			<header class="cd-pricing-header">
        <div id="box">
          <div id="picture">
          <img src=file:///Users/mac/Desktop/wyncode/GASnap/89.jpg />
        </div>


				<div class="cd-price">
					<span><h2>$6.00 per gallon</h2></span>
				</div>
			</header>

        <div class="dropdown">
    <button class="dropbtn">Gallons</button>
    <div class="dropdown-content">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
  </div>

  	<a class="button_example" href="#">SELECT</a>
		</li>

    <li>
			<header class="cd-pricing-header">
        <div id="box">
          <div id="picture">
          <img src=file:///Users/mac/Desktop/wyncode/GASnap/93.jpg />
        </div>


				<div class="cd-price">
					<span><h2>$7.00 per gallon</h2></span>
				</div>
			</header>

        <div class="dropdown">
    <button class="dropbtn">Gallons</button>
    <div class="dropdown-content">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
  </div>

  	<a class="button_example" href="#">SELECT</a>
		</li>
	</ul>
