<html>
  <head>
    <meta charset="utf-8">
    <title>GASNAP</title>
      <link href="index.scss" rel="stylesheet" type="text/css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
    <header>

        <video autoplay loop class="video-background" muted plays-inline>
          <source src="https://zippy.gfycat.com/SeriousKeenHousefly.webm" type="video/webm"></video>

    <div class="nav">
       <%= image_tag("tranbkg_pic.png__360.png", :alt => "rss feed") %>

      <ul class="menu">
<<<<<<< HEAD
        <li><%= link_to "login", product_path %></li>
        <!-- product_path -->
          <!-- <li><%= link_to "Sign Up",  sign_in_path %></li> -->

=======
        <li class="login"><a href="a">LOGIN</a></li>
>>>>>>> a1848e5aef9ba7d3ef3cd4d3e3ccf445f74e9c3d
      </ul>
    </div>

    <div class="msg">
      <h1>GASNAP</h1>
      <h2>SNAP SNAP Here comes the gas!</h2>

      </header>
    <body>

  </body>
