
h2.thank_you{
  color: orange;
  text-align: center;
  font-size: 6em;
}

div.total{
  color: white;
  text-align: center;
  padding-bottom: 0em;
  font-size: 2em;
  font-family: serif;
}

.data-lead-body {
  color: #ff6e00;
}

#text{
  color: orange;
  font-size: 17px;
}

.site-header{
  padding-top: 100px !important;
}

body.last-page{
  margin: 0px;
  background: url("https://images.adsttc.com/media/images/5018/2750/28ba/0d48/2400/081e/large_jpg/stringio.jpg?1361410505") no-repeat center center fixed;
  background-size: cover;
}

.jesse_copyright{
  color: black;
}

.jesse_message{
  color: orange;
  padding-bottom: 45em;
}
.main-content{
  text-align: center;
}

.jesse_message{
  padding-bottom: 10em;
  text-align: center;
}

.jesse_copyright{
  text-align: center;
}

.b1{
  font-size: 25px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  position: relative; top: 1em; left: 2em;
}

.b2{
  font-size: 25px;
  border-radius: 12px;
      position: relative; top: 1em; left: 42em;

   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
