// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h5.map_page{
  font-size: 5em;
  text-align: center;
  font-style: italic;
  font-family: serif;
  color: yellow;
  padding-right: 6em;
  padding-top: 0.5em;
}

div.map_buttons{
  padding-right: 30em;

}
