
<%= form_tag charges_path do %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Payment Information</title>

  </head>

  <body class="payment">
<nav>
  <div class='picture'>
    <%= image_tag("tranbkg_pic.png__360.png", :alt => "rss feed") %>
  </div>
</nav>

<br><br><br>
<span>Total: $5.00</span>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
  <br><br><br>
</body>
